name: Deploy to AWS S3

on:
  push:
    branches:
      - main
    paths:
      - 'astro-app/**' # Only trigger if files in the astro-app folder change
      - '.github/workflows/deploy.yml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./astro-app

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
          # Tell the cache action where the lockfile actually lives
          cache-dependency-path: ./astro-app/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build Static Site
        run: npm run build
        # This generates 'portfolio/out'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
          
      - name: Deploy to S3
        run: |
          aws s3 sync ./dist s3://${{ vars.S3_BUCKET_NAME }} \
            --delete \
            --cache-control "public, max-age=31536000, immutable" \
            --exclude "*.html" \
            --exclude "sitemap-*.xml"


          aws s3 sync ./dist s3://${{ vars.S3_BUCKET_NAME }} \
            --delete \
            --cache-control "public, max-age=0, must-revalidate" \
            --include "*.html" \
            --include "sitemap-*.xml"

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_ID }} \
            --paths "/*"